.image-div {
  position: relative;
  width: 400px;
  height: 400px;
  margin-bottom: 15px;
}

.top-text,
.bottom-text {
  position: absolute;
  color: white;
  font-style: bold;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: "Impact";
  overflow-wrap: break-word;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: 0;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 0, 0, 0.658);
}

.body {
  background-color: rgba(130, 49, 197, 0.664);
}

h1 {
  display: flex;
  color: rgb(183, 194, 25);
  justify-content: center;
  font-family: sans-serif;
  font-size: 40px;
}

form {
  margin-left: 30px;
}

#title {
  position: static;
  display: grid;
}

#directions {
  border: solid rgba(32, 31, 31, 0.555);
  margin: 10px;
  padding: 10px;
}

#create-meme {
  border: solid black;
  margin-left: 170px;
}

#meme-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
